DB_HOST=op://BTAI-CC-Engram/database/host
DB_PORT=op://BTAI-CC-Engram/database/port
DB_NAME=op://BTAI-CC-Engram/database/name
DB_USER=op://BTAI-CC-Engram/database/user
DB_PASSWORD=op://BTAI-CC-Engram/database/password
OLLAMA_URL=op://BTAI-CC-Engram/ollama/url
OLLAMA_AUTH=op://BTAI-CC-Engram/ollama/auth
